/* using css variable syntax since SASS is a pain to add unless we eject create-react-app */
:root {
  --brandPrimary: rgb(12, 17, 66);
  --brandSecondary: rgb(107, 225, 230);
  --brandLightText: rgb(255, 255, 200);
}

#topSection {
  padding: 10px 40px;
  color: var(--brandLightText);
  background-color: var(--brandPrimary);
}

.form-comment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 300px;
  max-width: 400px;
  padding: 10px 10px 10px 0;
}

.form-comment input {
  border-radius: 8px;
  border: 1px solid #b6b8c6;
  padding: 15px 10px;
}

.form-comment textarea {
  border-radius: 8px;
  border: 1px solid #b6b8c6;
  padding: 15px 10px;
  resize: vertical;
  max-width: 400px;
}

.form-comment label {
  padding: 15px 0 5px 0;
}

.form-comment #formSubmit {
  margin: 10px 0;
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--brandPrimary);
  font-weight: 600;
  background-color: var(--brandSecondary);
}

#bottomSection {
  padding: 10px 40px;
  color: var(--brandPrimary);
  background-color: #ffffff;
}

.comment-container {
  overflow-y: scroll;
  height: 50vh;
}

.comment-content {
  border: 1px solid var(--brandPrimary);
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
}
